@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300;500;600&display=swap");

* {
  font-family: "Caveat", cursive;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#feedbackForm {
  color: #4747EC;
  background-color: #f1f1f1;
  height: 600px;
  width: 40%;
  padding: 4% 5%;
  border-radius: 25px;
}

#feedbackForm label,
#feedbackForm input,
#feedbackForm textarea {
  display: block;
  margin-bottom: 15px;
}

select {
  border: #4747EC 2px solid;
}

#feedbackForm input,
#feedbackForm textarea {
  width: 100%;
  padding: 5px;
}

#feedbackForm feedback-description {
  width: 526px;
  height: 148px;
}

#feedbackForm .button {
  display: inline-block;
  background-color: #4747EC;
  color: #f1f1f1;
  padding: 10px;
  text-decoration: none;
  width: 100px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
}

#feedbackForm .button:hover {
  background-color: #1F1F69;
  color: #fff;
}

#feedbackForm h2 {
  font-size: 40px;
  font-style: oblique;
  text-align: center;
  color: #4747EC;
}

body {
  background-color: royalblue;
}

@media (max-width: 330px) {
  #feedbackForm {
    width: 100vw;
  }

  #feedback-description {
    height: 15vh;
  }

  #feedbackForm input,
  #feedbackForm textarea {
    width: 100%;
    padding: 5px;
  }

  #feedbackForm h2 {
    font-size: 2rem;
    font-style: oblique;
    text-align: center;
    color: #4747EC;
  }
}

@media (min-width: 331px) and (max-width: 650px) {
  #feedbackForm {
    width: 80vw;
  }

  #feedback-description {
    height: 15vh;
  }

  #feedbackForm input,
  #feedbackForm textarea {
    width: 100%;
    padding: 5px;
  }

  #feedbackForm h2 {
    font-size: 2rem;
    font-style: oblique;
    text-align: center;
    color: #4747EC;
  }
}

@media (min-width: 651px) and (max-width: 930px) {
  #feedbackForm {
    width: 60vw;
    height: 60vh;
  }

  #feedback-description {
    height: 15vh;
  }

  #feedbackForm input,
  #feedbackForm textarea {
    width: 100%;
    padding: 5px;
  }

  #feedbackForm h2 {
    font-size: 2rem;
    font-style: oblique;
    text-align: center;
    color: #4747EC;
  }
}