/* Globle css */
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,500;1,300;1,700&family=PT+Serif:ital@0;1&family=Signika+Negative:wght@300;500&family=Yeseva+One&display=swap");

* {
    font-family: "Bitter", serif;
    font-family: "PT Serif", serif;
    font-family: "Signika Negative", sans-serif;
    font-family: "Yeseva One", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Layout of website using grid  */
.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "header header"
        "nav nav"
        "content1 content2 "
        "footer footer";
}

.container>header {
    grid-area: header;
    background-color: blue;
    color: #f1f1f1;
    padding: 1rem;
}

.container>nav {
    grid-area: nav;
    background-color: #4747EC;
    padding: 0.8rem;
}

.content1 {
    grid-area: content1;
    margin-left: 25px;
}

.content2 {
    grid-area: content2;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer, footer a{
    display: flex;
    justify-content: space-between;
    grid-area: footer;
    background-color: blue;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-weight: 500;
    color: aliceblue;
}

footer span a {
    display: inline;
    padding-left: 0;
    text-decoration: underline;
}

/* Home logo */
header {
    display: flex;
    align-items: center;
    column-gap: 2vw;
}

#logo {
    text-transform: capitalize;
}

#header-logo-image{
    height: 15vh;
}

/* Navbar */
nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-weight: 500;
    border-radius: 4px;
    color: aliceblue;
    transition: 0.4s;
}

#active,
nav ul li a:hover {
    background-color: #1F1F69;
    color: white;
    transition: 0.4s;
}


section {
    padding: 20px;
}

#home p {
    font-weight: 500;
    letter-spacing: 0.3px;
}

#logo-image {
    height: 60vh;
}

/* media queries  */
@media (max-width: 380px) {
    .container {
        display: grid;
        min-height: 100vh;
        max-width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "header"
            "nav"
            "content1"
            "content2"
            "footer";
    }

    nav ul li {
        display: flex;
        flex-direction: column;

    }

    nav ul {
        justify-content: center;
    }

    nav ul li a {
        text-align: center;
    }

    #logo-image {
        width: 60vw;
        height: auto;
    }

    footer {
        flex-direction: column;
    }
}

@media (min-width: 381px) and (max-width: 650px) {
    .container {
        display: grid;
        min-height: 100vh;
        max-width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "header"
            "nav"
            "content1"
            "content2"
            "footer";
    }

    nav ul {
        justify-content: flex-start;
    }

    #logo-image {
        width: 60vw;
        height: auto;
    }

    #home p {
        font-weight: 300;
        font-size: 0.8rem;
    }

    footer {
        flex-direction: column;
    }
}

@media (min-width: 651px) and (max-width: 1000px) {
    .container {
        display: grid;
        min-height: 100vh;
        max-width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "header"
            "nav"
            "content1"
            "content2"
            "footer";
    }

    nav ul {
        justify-content: flex-start;
    }

    .content1 {
        padding-left: 40px;
    }

    #logo-image {
        width: 60vw;
        height: auto;
    }

    #home p {
        font-weight: 300;
        font-size: 0.8rem;
    }
}

@media (min-width: 1250px) {
    #container {
        padding: 5% 0;
    }
}


/* utility classes */

.button {
    display: inline-block;
    background-color: #5100ff;
    color: #f1f1f1;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s ;
}

.button:hover {
    background-color: #1F1F69;
    color: white;
}
